@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(reset.css);

body { font-family:'Raleway', Verdana, Tahoma, sans-serif;  font-size:12px; color:#333; line-height:16px; }

#game { position:absolute; width:80%; height:100%; background-color:#fff; /*background-image:url(../imgs/table.png); background-size:cover;*/ }
#statusContainer { background-color:#f5f5f5; width:20%; height:100%; position:fixed; top:0; right:0; border-left:1px solid #ccc; }
#statusContainer div { position:relative; }
#statusContainer div div { padding:15px; }
#score { height:10%; top:0px; border-bottom:1px solid #ccc; }
#status { overflow-y:scroll; height:80%; }
#status p { margin:10px 0; }
#controls { bottom:0px; height:10%; border-top:1px solid #ccc; }

.resultDiv { display: block; width: 70px; float: left; text-align: center; }
.result { font-weight: bold; font-size: 32px; }
.result.player { color:#58a770; }
.result.computer { color:#ff5d5d; }